/*for Star Rating*/
/*
.rating
{
  position: absolute;
  transform: translate(-0%, 50%) rotateY(180deg);
  display: flex;
  margin-top: 0px;
}
.rating input
{
	display: none;
}
.rating label
{
	display: block;
	cursor: pointer;
	width: 50px;
}
.rating label:before
{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #101010;
}
.rating label:after
{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #1f9cff;
	top: 0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating input:checked ~ label:after
{
	opacity: 1;
}
*/
/*Half star rating*/


.center{
	width: auto;
	margin: auto;
}

/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 3.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}

.rating > label{
	color: #101010;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
	color: #1f9cff;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #1f9cff;
}
