<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<div><img src={% static 'img/login_page.png' %} width="500" height="200" class="rounded mx-auto d-block" alt="Logo"></div>
<form method="post" class="from-group">
  {% csrf_token %}
  {{ form|crispy }}
  <!--p>Don't have an account? Create one <a href="/register">here</a></p-->
  <div class="form-row" style="padding-top: 50px; padding-bottom: 20px;">
    <div class="form-group col-md-4 mb-0">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>

{% endblock %}
{% block footer %}{% endblock %}
