<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<div><img src={% static 'img/login_logo2.jpg' %} width="300" height="75" class="rounded mx-auto d-block" alt="Logo"></div>
<form method="post" class="from-group">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="form-row" style="padding-top: 50px; padding-bottom: 20px;">
    <div class="form-group col-md-4 mb-0">
      <button type="submit" class="btn btn-primary"><strong>Login</strong></button>
    </div>
  </div>
  <div>Don't have an account? <a href="/register" target="blank"><strong>Register here</strong></a>!</div>
  <div><a href="/password_reset"><strong>Forgot or Change Password?</strong></a></div>
</form>

{% endblock %}
{% block footer %}{% endblock %}
