<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<div><img src={% static 'img/homepage_logo10.png' %} width="500" height="200" class="rounded mx-auto d-block" alt="Logo"></div>
<form method="post" class="from-group">
  {% csrf_token %}
  {{ form|crispy }}
  <!--p>Don't have an account? Create one <a href="/register">here</a></p-->
  <button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}
{% block footer %}{% endblock %}
