{% extends 'base.html' %}

{% block content %}
<p>
  <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 500 130px/0.8 'Great Vibes', Helvetica, sans-serif; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>{{ name }}</b></h1><br>
  <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Great Vibes', Helvetica, sans-serif; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>{{ author }}</b></h1><br>
  <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Great Vibes', Helvetica, sans-serif; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>{{ email }}</b></h1><br>
  <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Great Vibes', Helvetica, sans-serif; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>{{ phone }}</b></h1><br>
  <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Great Vibes', Helvetica, sans-serif; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>{{ disclaimer }}</b></h1><br>
</p>
{% endblock %}
