{% extends 'base.html' %}

{% block content %}

  <div class="col-sm-12" style="padding: 2px">
    <table class="table table-striped text-black">
      <tr>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>Author:</b></td>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">{{ author }}</td>
      </tr>
      <tr>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>Email:</b></td>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">{{ email }}</td>
      </tr>
      <tr>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:40px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>Disclaimer:</b></td>
        <td style="text-align:left; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:20px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">{{ disclaimer }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
