{% extends 'base.html' %}
{% block title %} Comment On Wine Review {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <h1 style="text-align:center; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:100px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">Add Comment</h1>
  <br/><br/>

  <div class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.text|as_crispy_field }}
    <button class="btn btn-secondary">Add Comment</button>
</div>
{% endblock %}
