{% extends 'base.html' %}
{% load static %}
{% block title %} Wine or Whine {% endblock title %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function(){
           var ctx = document.getElementById('countryChart').getContext('2d');
           var countryChart = new Chart(ctx, {

               type: 'bar',
               data: {
                   labels: [{% for item in country %}'{{item.country__name}}',{% endfor %}],
                   datasets: [{
                       data: [{% for item in country %}'{{item.total}}',{% endfor %}],
                       backgroundColor: [{% for item in country %}getRandomColorHex(),{% endfor %}],
                       borderColor: [{% for item in country %}getRandomColorHex(),{% endfor %}],
                       borderWidth: 1
                   }]
               },
               options: {
                 legend: {
                   display: false
                 },
                 title: {
                   display: true,
                   fontColor: "red",
                   fontFamily: 'Important',
                   fontStyle: 'normal',
                   fontSize: 60,
                   text: 'Countries',
                   position: 'top',
                 },
                   scales: {
                       yAxes: [{
                           ticks: {
                               beginAtZero: true,
                               fontColor: "black",

                           }
                       }],
                       xAxes: [{
                           ticks: {
                               fontColor: "black",
                           }
                       }],
                   }
               }
           });

           var ctx = document.getElementById('vintageChart').getContext('2d');
             var vintageChart = new Chart(ctx, {
               type: 'line',
               data: {
                 labels: [{% for item in vintage %}'{{item.vintage}}',{% endfor %}],
                 datasets: [{

                   data: [{% for item in vintage %} '{{item.total}}',{% endfor %}],

                   //backgroundColor: 'rgba(255,0,0, .3)',
                   backgroundColor: [{% for item in vintage %}getRandomColorHex(),{% endfor %}],
                   borderColor: [{% for item in vintage %}getRandomColorHex(),{% endfor %}],
                   borderWidth: 1
                 }]
               },
               options: {
                 legend: {
                   display: false
                 },
                 title: {
                   display: true,
                   fontColor: "red",
                   fontFamily: 'Important',
                   fontStyle: 'normal',
                   fontSize: 60,
                   text: 'Vintages',
                   position: 'top',
                 },
                   scales: {
                       yAxes: [{
                           ticks: {
                               beginAtZero: true,
                               fontColor: "black",
                           }
                       }],
                       xAxes: [{
                           ticks: {
                               fontColor: "black",
                           }
                       }],
                   }
               }
           });






           var ctx = document.getElementById('priceChart').getContext('2d');
             var priceChart = new Chart(ctx, {
               type: 'line',
               data: {
                 labels: ["<£10", "£10-£15", "£15-£20", "£20-£30", "£30-£40", "£40-£50", ">£50"],
                 datasets: [{

                   data: ['{{under10}}', '{{tentofifteen}}', '{{fifteentotwenty}}', '{{twentytothirty}}', '{{thirtytoforty}}', '{{fortytofifty}}', '{{overfifty}}'],
                   fill: false,
                   stepped: true,
                   //backgroundColor: 'rgba(255,0,0, .3)',
                   backgroundColor: [{% for item in prices %}getRandomColorHex(),{% endfor %}],
                   borderColor: 'red',
                   borderWidth: 1
                 }]
               },
               options: {
                 legend: {
                   display: false
                 },
                 title: {
                   display: true,
                   fontColor: "red",
                   fontFamily: 'Important',
                   fontStyle: 'normal',
                   fontSize: 60,
                   text: 'Prices',
                   position: 'top',
                 },
                   scales: {
                       yAxes: [{
                           ticks: {
                               beginAtZero: true,
                               fontColor: "black",
                               stepSize: 50,
                           }
                       }],
                       xAxes: [{
                           ticks: {
                               fontColor: "black",
                           }
                       }],
                   }
               }
           });







           var ctx = document.getElementById('styleChart').getContext('2d');
            var styleChart = new Chart(ctx, {
                type: 'outlabeledPie',
                labelPosition: 'outside',

                data: {
                    labels: [{% for item in type %}'{{item.type__name}}',{% endfor %}],
                    datasets: [{
                        data: [{% for item in type %}'{{item.total}}',{% endfor %}],
                        backgroundColor: [{% for item in type %}getRandomColorHex(),{% endfor %}],
                        borderColor: [{% for item in type %}getRandomColorHex(),{% endfor %}],
                        borderWidth: 1
                    }]
                },

                options: {
                  legend: {
                     display: false,
                   },
                   animation: {
                     animateScale: true,
                     animateRotate: true
                   },
                  zoomOutPercentage: 45,
                  plugins: {
                    legend: false,
                    outlabels: {
                       text: '%l %p',
                       valuePrecision: 5,
                       percentPrecision: 0.1,
                       color: 'white',
                       stretch: 60,
                       font: {
                           resizable: true,
                           minSize: 12,
                           maxSize: 12
                       }
                    }
                 },
                  title: {
                    display: true,
                    fontColor: "red",
                    fontFamily: 'Important',
                    fontStyle: 'normal',
                    fontSize: 60,
                    text: 'Wine Styles',
                    position: 'top'
                  },
                  responsive: true,

                  tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                          var dataset = data.datasets[tooltipItem.datasetIndex];
                          //calculate the total of this data set
                          var total = dataset.data.reduce(function(previousValue, currentValue) {
                            return parseInt(previousValue) + parseInt(currentValue);
                          });
                          //get the current items value
                          var currentValue = dataset.data[tooltipItem.index];
                          //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                          var percentage = Math.floor(((currentValue/total) * 100)+0.5);
                            return data.labels[tooltipItem.index] + ' (' + percentage + '% )';
                        }
                    }
                  },
              }
            });


            var ctx = document.getElementById('typeChart').getContext('2d');
                    var typeChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: [{% for item in type %}'{{item.type__name}}',{% endfor %}],
                            datasets: [{
                                data: [{% for item in type %}'{{item.total}}',{% endfor %}],
                                backgroundColor: [{% for item in type %}getRandomColorHex(),{% endfor %}],
                                borderColor: [{% for item in type %}getRandomColorHex(),{% endfor %}],
                                borderWidth: 1
                            }]
                        },
                        options: {
                          legend: {
                            display: false
                          },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: "black",

                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontColor: "black",
                                    }
                                }],
                            }
                        }
                    });

                    var ctx = document.getElementById('ratingsChart').getContext('2d');
                      const labels = ['Expired','Tainted','Awful','Bad','Poor','Fair','Good','Very Good','Excellent','Blockbuster','No words'];
                      const images = ["{% static 'img/star0.png' %}", "{% static 'img/star1.png' %}", "{% static 'img/star2.png' %}", "{% static 'img/star3.png' %}",
                                      "{% static 'img/star4.png' %}", "{% static 'img/star5.png' %}", "{% static 'img/star6.png' %}", "{% static 'img/star7.png' %}",
                                      "{% static 'img/star8.png' %}", "{% static 'img/star9.png' %}", "{% static 'img/star10.png' %}"];

                      var ratingsChart = new Chart(ctx, {
                        type: 'bar',
                        plugins: [{
                          afterDraw: chart => {
                            var ctx = chart.chart.ctx;
                            var xAxis = chart.scales['x-axis-0'];
                            var yAxis = chart.scales['y-axis-0'];
                            xAxis.ticks.forEach((value, index) => {
                              var x = xAxis.getPixelForTick(index);
                              var image = new Image();
                              image.src = images[index],
                              ctx.drawImage(image, x - 25, yAxis.bottom + 10);
                            });
                          }
                        }],
                        data: {
                          labels: labels,
                          datasets: [{
                            data: [{% for item in ratings %} '{{item.total}}',{% endfor %}],

                            //backgroundColor: 'rgba(255,0,0, .3)',
                            backgroundColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                            borderColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                            borderWidth: 1
                          }]
                        },
                        options: {
                          responsive: true,
                          legend: {
                            display: false
                          },
                          title: {
                             display: true,
                             fontColor: "red",
                             fontFamily: 'Important',
                             fontStyle: 'normal',
                             fontSize: 60,
                             text: 'Star Ratings',
                             position: 'top'
                          },
                          scales: {
                              yAxes: [{
                                ticks: {
                                    fontColor: "black",
                                }
                              }],
                              xAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: "black",
                                    padding: 50
                                }
                            }],
                          },
                        }
                    });

                    //var ctx = document.getElementById('ratingsPieChart').getContext('2d');
                    // var ratingsPieChart = new Chart(ctx, {
                         //type: 'outlabeledPie',
                         //labelPosition: 'outside',

                        // data: {
                        //     labels: [{% for item in ratings %}'{{item.rating}}'+ ' stars',{% endfor %}],
                            // datasets: [{
                        //         data: [{% for item in ratings %}'{{item.total}}',{% endfor %}],
                        //         backgroundColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                        //         borderColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                        //         borderWidth: 1
                             //}]
                        // },

                        // options: {
                         //  legend: {
                        //      display: false,
                        //    },
                        //    animation: {
                        //      animateScale: true,
                        //      animateRotate: true
                        //    },
                        //   zoomOutPercentage: 25,
                        //   plugins: {
                        //     legend: false,
                        //     outlabels: {
                        //        text: '%l %p',
                        //        valuePrecision: 5,
                        //        percentPrecision: 10,
                        //        color: 'white',
                        //        stretch: 20,
                        //        font: {
                        //            resizable: true,
                        //            minSize: 12,
                        //            maxSize: 12
                        //        }
                        //     }
                        //  },

                         //  responsive: true,


                      // }


                      var ctx = document.getElementById('ratingsPolarChart').getContext('2d');
                      var ratingsPieChart = new Chart(ctx, {
                           type: 'polarArea',

                           data: {
                               labels: [{% for item in ratings %}'{{item.rating}}'+ ' stars',{% endfor %}],
                               datasets: [{
                                   data: [{% for item in ratings %}'{{item.total}}',{% endfor %}],
                                   backgroundColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                                   borderColor: [{% for item in ratings %}getRandomColorHex(),{% endfor %}],
                                   borderWidth: 1
                               }]
                           },

                           options: {


                             legend: {
                                display: true,
                              },
                              zoomOutPercentage: 45,
                              plugins: {

                                legend: false,
                                startAngle: .9,
                                animation: {
                                  animateScale: true,
                                  animateRotate: true
                                },
                                outlabels: {
                                   text: '%l',
                                   valuePrecision: 5,
                                   percentPrecision: 0.1,
                                   color: 'white',
                                   stretch: 20,
                                   font: {
                                       resizable: true,
                                       minSize: 12,
                                       maxSize: 12
                                   }
                                }
                             },

                             responsive: true,

                         }
                       });

                    var ctx = document.getElementById('grapesChart').getContext('2d');
                      var grapesChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                          labels: [{% for item in g %}'{{item.grapes__name}}',{% endfor %}],
                          datasets: [{
                            data: [{% for item in g %} '{{item.total}}',{% endfor %}],

                            //backgroundColor: 'rgba(255,0,0, .3)',
                            backgroundColor: [{% for item in g %}getRandomColorHex(),{% endfor %}],
                            borderColor: [{% for item in g %}getRandomColorHex(),{% endfor %}],
                            borderWidth: 1
                          }]
                        },
                        options: {
                          responsive: true,
                          legend: {
                            display: false
                          },
                          title: {
                             display: true,
                             fontColor: "red",
                             fontFamily: 'Important',
                             fontStyle: 'normal',
                             fontSize: 60,
                             text: 'Grapes',
                             position: 'top'
                          },
                          scales: {
                              yAxes: [{
                                ticks: {
                                    fontColor: "black",
                                }
                              }],
                              xAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: "black",
                                    userCallback: function(label, index, labels) {
                                    // when the floored value is the same as the value we have a whole number
                                    if (Math.floor(label) === label) {
                                      return label;
                                    }
                                  },
                                }
                            }],
                          },
                        }
                    });
                  });

                  function getRandomColorHex() {
                    var hex = "0123456789ABCDEF",
                    color = "#";
                    for (var i = 1; i <= 6; i++) {
                      color += hex[Math.floor(Math.random() * 16)];
                    }
                    return color;
                  }

</script>
{% endblock scripts %}

{% block content %}
  <h1 style="text-align:center; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:100px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">Wine or Whine</h1>
    {% if user.username %}
      <h3 style="text-align:center; margin-bottom:25px; font: 10 130px/1.0 'Indie Flower', Ubuntu; color:red; font-size:50px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">Hi {{ user.username }}!</h3>
    {% endif %}
  <hr>
  <div class="container">
    <div class="pt-25 row">
        <div class="col-sm-12" style="padding: 2px">
          <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Important',Important, sans-serif; color:red; font-size:60px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);" ><b>Browse</b></h1>
          <table class="table table-striped text-black">
            <tr>
              <td style="margin-top:5px; margin-bottom:5px; text-align:left; font-family: 'Ubuntu', cursive; font-size:25px;"><a href="{% url 'wine_list' %}">Wines</a></td>
              <td style="margin-top:5px; margin-bottom:5px; text-align:right; font: 300 130px/0.8, Helvetica, sans-serif; color:black; font-size:25px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">{{ wine_count }}</td>
            </tr>
            <tr>
              <td style="margin-top:15px; margin-bottom:10px; text-align:left; font-family: 'Ubuntu', cursive; font-size:25px;"><a href="{% url 'rating' %}">Reviews</a></td>
              <td style="margin-top:15px; margin-bottom:10px; text-align:right; font: 300 130px/0.8, Helvetica, sans-serif; color:black; font-size:25px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">{{ wine_ratings }}</td>
            </tr>
            <tr>
              <td style="margin-top:15px; margin-bottom:10px; text-align:left; font-family: 'Ubuntu', cursive; font-size:25px;"><a href="{% url 'cellar' %}">Cellar</a></td>
              <td style="margin-top:15px; margin-bottom:10px; text-align:right; font: 300 130px/0.8, Helvetica, sans-serif; color:black; font-size:25px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);">Wines: {{ wines_in_cellar }} | Bottles: {{ bottles_in_cellar}}</td>
            </tr>
          </table>
        </div>
    </div>
    <hr>
    <div class="pt-25 row">
        <div class="col-sm-12" style="padding: 2px">
          <h1 style="margin-top:15px; margin-bottom:15px; text-align:center; font: 300 130px/0.8 'Important',Important, sans-serif; color:red; font-size:60px; text-shadow: 4px 4px 3px rgba(0,0,0,0.1);"><b>Latest Review</b></h1>
        </div>
    </div>
    <div class="pt-25 row">
      <div class="col-sm-5" style="padding-right: 2px">
        <table class="table-responsive table-striped text-black">
          <tr>
            <td>
              {% if last_review.image %}
                  <a href="{% url 'wine_details' id=last_review.id %}"><img src="{{ last_review.image.url }}" class="img-fluid img-thumbnail" data-toggle="tooltip" title="Click for full wine review"></a>
              {% else %}
                  <a href="{% url 'wine_details' id=last_review.id %}"><img src={% static 'img/no_wine_image.png' %} class="img-fluid img-thumbnail" data-toggle="tooltip" title="Wine image not available but click for full wine review"></a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-7" style="padding: 2px">
        <table class="table table-striped text-black">
          <tr>
            <td><img src={% static 'img/name.png' %} alt="Logo" data-toggle="tooltip" title="Wine Name"></td>
              {% if last_review.name %}
                <td class="align-middle" style="font-size:20px; font-family: 'Courgette', cursive; data-toggle="tooltip" title="Click for wine review"><a href="{% url 'wine_details' id=last_review.id %}">{{ last_review.name }}</a></td>
                {% else %}
                  <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;"></td>
              {% endif %}
          </tr>
          <tr>
                {% if last_review.rating == 0 %}
                  <td><img class="center" src={% static 'img/rating.png' %} alt="Logo" data-toggle="tooltip" title="Rating"></td>
                {% endif %}
                {% if last_review.rating == 1 %}
                  <td><img class="center" src={% static 'img/one.png' %} alt="Logo" data-toggle="tooltip" title="Expired"></td>
                {% endif %}
                {% if last_review.rating == 2 %}
                  <td><img class="center" src={% static 'img/two.png' %} alt="Logo" data-toggle="tooltip" title="Awful"></td>
                {% endif %}
                {% if last_review.rating == 3 %}
                  <td><img class="center" src={% static 'img/three.png' %} alt="Logo" data-toggle="tooltip" title="Tainted"></td>
                {% endif %}
                {% if last_review.rating == 4 %}
                  <td><img class="center" src={% static 'img/four.png' %} alt="Logo" data-toggle="tooltip" title="Poor"></td>
                {% endif %}
                {% if last_review.rating == 5 %}
                  <td><img class="center" src={% static 'img/five.png' %} alt="Logo" data-toggle="tooltip" title="Fair"></td>
                {% endif %}
                {% if last_review.rating == 6 %}
                  <td><img class="center" src={% static 'img/six.png' %} alt="Logo" data-toggle="tooltip" title="Good"></td>
                {% endif %}
                {% if last_review.rating == 7 %}
                  <td><img class="center" src={% static 'img/seven.png' %} alt="Logo" data-toggle="tooltip" title="Very Good"></td>
                {% endif %}
                {% if last_review.rating == 8 %}
                  <td><img class="center" src={% static 'img/eight.png' %} alt="Logo" data-toggle="tooltip" title="Excellent"></td>
                {% endif %}
                {% if last_review.rating == 9 %}
                  <td><img class="center" src={% static 'img/nine.png' %} alt="Logo" data-toggle="tooltip" title="Fantastic"></td>
                {% endif %}
                {% if last_review.rating == 10 %}
                  <td><img class="center" src={% static 'img/ten.png' %} alt="Logo" data-toggle="tooltip" title="Blockbuster"></td>
                {% endif %}
                <td>
                  {% for i in range %}
                    {% if i < last_review.rating %}
                      <span><img class="center" src={% static 'img/homepage_star.png' %} style="vertical-align:bottom;"></span>
                    {% else %}
                      <img class="center" src={% static 'img/homepage_nostar.png' %} style="vertical-align:bottom;">
                    {% endif %}
                  {% endfor %}
                </td>
          </tr>
          <tr>
            <td><img src={% static 'img/winery.png' %} alt="Logo" data-toggle="tooltip" title="Winery"></td>
            {% if last_review.winery %}
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.winery }}</td>
              {% else %}
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">&nbsp;</td>
            {% endif %}
          </tr>
          <tr>
            <td><img src={% static 'img/calendar.png' %} alt="Logo" data-toggle="tooltip" title="Vintage"></td>
            {% if last_review.vintage %}
               <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.vintage }}</td>
            {% endif %}
          </tr>
          <tr>
              {% if country_name == 'Argentina' %}
                <td><img src={% static 'img/Argentina.png' %} alt="Logo" data-toggle="tooltip" title="Argentina"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Armenia' %}
                <td><img src={% static 'img/Armenia.png' %} alt="Logo" data-toggle="tooltip" title="Armenia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Australia' %}
                <td><img src={% static 'img/Australia.png' %} alt="Logo" data-toggle="tooltip" title="Australia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Austria' %}
                <td><img src={% static 'img/Austria.png' %} alt="Logo" data-toggle="tooltip" title="Austria"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Belgium' %}
                <td><img src={% static 'img/Belgium.png' %} alt="Logo" data-toggle="tooltip" title="Belgium"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Bolivia' %}
                <td><img src={% static 'img/Bolivia.png' %} alt="Logo" data-toggle="tooltip" title="Bolivia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Brazil' %}
                <td><img src={% static 'img/Brazil.png' %} alt="Logo" data-toggle="tooltip" title="Brazil"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Bulgaria' %}
                <td><img src={% static 'img/Bulgaria.png' %} alt="Logo" data-toggle="tooltip" title="Bulgaria"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Canada' %}
                <td><img src={% static 'img/Canada.png' %} alt="Logo" data-toggle="tooltip" title="Canada"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Chile' %}
                <td><img src={% static 'img/Chile.png' %} alt="Logo" data-toggle="tooltip" title="Chile"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'China' %}
                <td><img src={% static 'img/China.png' %} alt="Logo" data-toggle="tooltip" title="China"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Croatia' %}
                <td><img src={% static 'img/Croatia.png' %} alt="Logo" data-toggle="tooltip" title="Croatia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Cyprus' %}
                <td><img src={% static 'img/Cyprus.png' %} alt="Logo" data-toggle="tooltip" title="Cyprus"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Czech Republic' %}
                <td><img src={% static 'img/Czech Republic.png' %} alt="Logo" data-toggle="tooltip" title="Czech Republic"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'England' %}
                 <td><img src={% static 'img/England.png' %} alt="Logo" data-toggle="tooltip" title="England"></td>
                 <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'France' %}
                <td><img src={% static 'img/France.png' %} alt="Logo" data-toggle="tooltip" title="France"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Germany' %}
                <td><img src={% static 'img/Germany.png' %} alt="Logo" data-toggle="tooltip" title="Germany"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Georgia' %}
                <td><img src={% static 'img/Georgia.png' %} alt="Logo" data-toggle="tooltip" title="Georgia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Greece' %}
                <td><img src={% static 'img/Greece.png' %} alt="Logo" data-toggle="tooltip" title="Greece"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Hungary' %}
                <td><img src={% static 'img/Hungary.png' %} alt="Logo" data-toggle="tooltip" title="Hungary"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'India' %}
                <td><img src={% static 'img/India.png' %} alt="Logo" data-toggle="tooltip" title="India"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Israel' %}
                <td><img src={% static 'img/Israel.png' %} alt="Logo" data-toggle="tooltip" title="Israel"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Italy' %}
                <td><img src={% static 'img/Italy.png' %} alt="Logo" data-toggle="tooltip" title="Italy"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Japan' %}
                <td><img src={% static 'img/Japan.png' %} alt="Logo" data-toggle="tooltip" title="Japan"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Lebanon' %}
                <td><img src={% static 'img/Lebanon.png' %} alt="Logo" data-toggle="tooltip" title="Lebanon"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Luxembourg' %}
                <td><img src={% static 'img/Luxembourg.png' %} alt="Logo" data-toggle="tooltip" title="Luxembourg"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Republic of Macedonia' %}
                <td><img src={% static 'img/Macedonia.png' %} alt="Logo" data-toggle="tooltip" title="Republic of Macedonia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Mexico' %}
                <td><img src={% static 'img/Mexico.png' %} alt="Logo" data-toggle="tooltip" title="Mexico"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Morocco' %}
                <td><img src={% static 'img/Morocco.png' %} alt="Logo" data-toggle="tooltip" title="Morocco"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'New Zealand' %}
                <td><img src={% static 'img/New Zealand.png' %} alt="Logo" data-toggle="tooltip" title="New Zealand"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Portugal' %}
                <td><img src={% static 'img/Portugal.png' %} alt="Logo" data-toggle="tooltip" title="Portugal"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Romania' %}
                <td><img src={% static 'img/Romania.png' %} alt="Logo" data-toggle="tooltip" title="Romania"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Russia' %}
                <td><img src={% static 'img/Russia.png' %} alt="Logo" data-toggle="tooltip" title="Russia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Slovakia' %}
                <td><img src={% static 'img/Slovakia.png' %} alt="Logo" data-toggle="tooltip" title="Slovakia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Slovenia' %}
                <td><img src={% static 'img/Slovenia.png' %} alt="Logo" data-toggle="tooltip" title="Slovenia"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'South Africa' %}
                <td><img src={% static 'img/South Africa.png' %} alt="Logo" data-toggle="tooltip" title="South Africa"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Spain' %}
                <td><img src={% static 'img/Spain.png' %} alt="Logo" data-toggle="tooltip" title="Spain"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Switzerland' %}
                <td><img src={% static 'img/Switzerland.png' %} alt="Logo" data-toggle="tooltip" title="Switzerland"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Thailand' %}
                <td><img src={% static 'img/Thailand.png' %} alt="Logo" data-toggle="tooltip" title="Thailand"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Turkey' %}
                <td><img src={% static 'img/Turkey.png' %} alt="Logo" data-toggle="tooltip" title="Turkey"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Uruguay' %}
                <td><img src={% static 'img/Uruguay.png' %} alt="Logo" data-toggle="tooltip" title="Uruguay"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'United States' %}
                <td><img src={% static 'img/USA.png' %} alt="Logo" data-toggle="tooltip" title="United States"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% elif country_name == 'Wales' %}
                <td><img src={% static 'img/Wales.png' %} alt="Logo" data-toggle="tooltip" title="Wales"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.country }}</td>
              {% else %}
                <td><img src={% static 'img/unknown_country.png' %} alt="Logo" data-toggle="tooltip" title="Country Unknown"></td>
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;"></td>
              {% endif %}
          </tr>
          <tr>
            <td><img src={% static 'img/abv.png' %} alt="Logo" data-toggle="tooltip" title="abv"></td>
            {% if last_review.abv %}
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.abv }}%</td>
            {% endif %}
          </tr>
          <tr>
            {% if type_name == 'Carcavelos' %}
              <td><img src={% static 'img/fortified.png' %} alt="Logo" data-toggle="tooltip" title="Carcavelos"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Champagne' %}
              <td><img src={% static 'img/champagne.png' %} alt="Logo" data-toggle="tooltip" title="Champagne"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Coteaux Champenois' %}
              <td><img src={% static 'img/champagne.png' %} alt="Logo" data-toggle="tooltip" title="Coteaux Champenois"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Crémant' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Crémant"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Crémant Rosé' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Crémant Rosé"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Dessert' %}
              <td><img src={% static 'img/dessert.png' %} alt="Logo" data-toggle="tooltip" title="Dessert"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Dessert Red' %}
              <td><img src={% static 'img/dessert.png' %} alt="Logo" data-toggle="tooltip" title="Dessert Red"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Fortified' %}
              <td><img src={% static 'img/fortified.png' %} alt="Logo" data-toggle="tooltip" title="Fortified"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Madeira' %}
              <td><img src={% static 'img/fortified.png' %} alt="Logo" data-toggle="tooltip" title="Madeira"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Orange' %}
              <td><img src={% static 'img/orange.png' %} alt="Logo" data-toggle="tooltip" title="Orange"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Port' %}
              <td><img src={% static 'img/fortified.png' %} alt="Logo" data-toggle="tooltip" title="Port"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Red' %}
              <td><img src={% static 'img/red.png' %} alt="Logo" data-toggle="tooltip" title="Red"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Rosé' %}
              <td><img src={% static 'img/rose.png' %} alt="Logo" data-toggle="tooltip" title="Rosé"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Rosé Champagne' %}
              <td><img src={% static 'img/champagne.png' %} alt="Logo" data-toggle="tooltip" title="Rosé Champagne"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Sherry' %}
              <td><img src={% static 'img/fortified.png' %} alt="Logo" data-toggle="tooltip" title="Sherry"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Sparkling' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Sparkling"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Sparkling Red' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Sparkling Red"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Sparkling Rosé' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Sparkling Rosé"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'Sparkling Dessert' %}
              <td><img src={% static 'img/sparkling.png' %} alt="Logo" data-toggle="tooltip" title="Sparkling Dessert"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'White' %}
              <td><img src={% static 'img/white.png' %} alt="Logo" data-toggle="tooltip" title="White"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% elif type_name == 'White Port' %}
              <td><img src={% static 'img/foritfied.png' %} alt="Logo" data-toggle="tooltip" title="White Port"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.type }}</td>
            {% else %}
              <td><img src={% static 'img/unknown.png' %} alt="Logo" data-toggle="tooltip" title="Type Unknown"></td>
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;"></td>
            {% endif %}
          </tr>
          <tr>
            <td><img src={% static 'img/grapes.png' %} alt="Logo" data-toggle="tooltip" title="Grapes"></td>
            <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">
              {% if grapes %}
                {% for grape in grapes %}
                  {% if not forloop.last %}
                    {{ grape.name }},
                 {% else %}
                  {{ grape.name }}
                {% endif %}
              {% endfor %}
            {% endif %}
            </td>
          </tr>
          <tr>
            <td><img src={% static 'img/shop.png' %} alt="Logo" data-toggle="tooltip" title="Bought from"></td>
              {% if last_review.bought_from %}
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">{{ last_review.bought_from }}</td>
              {% else %}
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;"></td>
              {% endif %}
          </tr>
          <tr>
            <td><img src={% static 'img/price.png' %} alt="Logo" data-toggle="tooltip" title="Price"></td>
              {% if last_review.price %}
                <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive;">£{{ last_review.price|floatformat:2 }}</td>
              {% endif %}
          </tr>
          <tr>
            <td><img src={% static 'img/posted_on.png' %} alt="Logo" data-toggle="tooltip" title="Posted on"></td>
            {% if last_review.posted_on %}
              <td class="align-middle" style="font-size:20px;font-family: 'Courgette', cursive; ">{{ last_review.posted_on }}</td>
            {% endif %}
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="pt-4 pb-0 row">
      <div class="col-sm-12">
        <canvas id="countryChart" width="400" height="200"></canvas>
      </div>
    </div>
    <hr>

    <div class="pt-4 pb-0 row">
      <div class="col-sm-12">
        <canvas id="priceChart" width="400" height="200"></canvas>
      </div>
    </div>
    <hr>

    <div class="pt-4 pb-0 row">
      <div class="col-sm-12">
        <canvas id="vintageChart" width="400" height="200"></canvas>
      </div>
    </div>
    <hr>

    <div class="pt-4 row">
      <div class="col-sm-12 pb-0">
        <canvas id="styleChart" width="400" height="350"></canvas>
      </div>
    </div>

    <div class="pt-0 row">
      <div class="col-sm-12">
        <canvas id="typeChart" width="400" height="200"></canvas>
      </div>
    </div>
    <hr>
    <div class="pt-4 row">
      <div class="col-sm-12">
        <canvas id="ratingsChart" width="400" height="200"></canvas>
      </div>
    </div>
    <!--div class="pt-4 row">
      <div class="col-sm-12">
        <canvas id="ratingsPieChart" width="400" height="350"></canvas>
      </div>
    </div-->
    <div class="pt-4 row">
      <div class="col-sm-12">
        <canvas id="ratingsPolarChart" width="400" height="200"></canvas>
      </div>
    </div>
    <hr>
    <div class="pt-4 row">
      <div class="col-sm-12 align-left">
        <canvas id="grapesChart" width="400" height="1600"></canvas>
      </div>
    </div>
    <hr>
  </div>

{% endblock %}
