{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
  <script type="text/javascript" src="{% static 'js/jsi18n.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/SelectBox.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/SelectFilter2.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %} Wine or Whine {% endblock title %}</title>
<style>
  body {
    background-color: beige;
  }
</style>
</head>

<body>
  <br>
  <div class="container">
    {% block scripts %}
    {% endblock %}
    {% block navbar %}
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <a class="navbar-brand" href="{% url "home" %}"><img src={% static 'img/home_page.png' %} width="50" height="50" class="d-inline-block mr-auto" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto" style="font-size: 20px; font-family:'Times New Roman', Times, serif;">
            <li class="nav-item">
              <a href="{% url "wine_list" %}" class="nav-link" style="color:#4183c4">Wines</a>
            </li>
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a href="{% url "add_wine" %}" class="nav-link" style="color:#4183c4">Add Wine</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a href="{% url "cellar" %}" class="nav-link" style="color:#4183c4">Cellar</a>
            </li>
            <li class="nav-item">
              <a href="{% url "wine_filter" %}" class="nav-link" style="color:#4183c4">Filter</a>
            </li>
            <li class="nav-item">
              <a href="{% url "rating" %}" class="nav-link" style="color:#4183c4">Reviews</a>
            </li>
            <li class="nav-item">
              {% if user.is_superuser %}
                <a href="{% url "show_notifications" %}" class="nav-link" style="color:#4183c4">Notifications
                  {% if count_notifications %}
                    <span class="badge">{{ count_notifications }}</span>
                  {% endif %}
                </a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a href="{% url "about" %}" class="nav-link" style="color:#4183c4">About</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="#"onClick="document.getElementById('logoutform').submit()" style="color:#4183c4">Logout</a>
              {% endif %}
              <li class="nav-item">
            <li class="nav-item">
              <form id="logoutform" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          </ul>
          <form class="d-flex input-group w-auto" action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
            <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" name="submit" value="Search">Search</button>
          </form>
        </div>
      </nav>
  </div>
    {% endblock %}
  <br>
  <div class="container" width="80%">
    {% block content %}
    {% endblock %}
  </div>

  </body>
  {% block footer %}
    <footer class="navbar position-relative container justify-content-center bg-dark">
        <span style="color:gold;font-weight:bold">Email: wineorwhine21@gmail.com</span>
      </div>
    </footer>
  {% endblock %}

</html>
