{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/static/js/jsi18n.js"></script>
  <script type="text/javascript" src="/static/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/js/SelectBox.js"></script>
  <script type="text/javascript" src="/static/js/actions.js"></script>
  <script type="text/javascript" src="/static/js/SelectFilter2.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'wineapp/custom_table.css' %}">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %} Wine Library {% endblock title %}</title>
<style>
  body {
    background-color: beige;
  }
</style>
</head>

<body>
  <br>
  <div class="container">
    {% block scripts %}
    {% endblock %}
    {% block navbar %}
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url "home" %}"><img src={% static 'img/home_button.png' %} width="120" height="60" class="d-inline-block mr-auto" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto" style="font-size: 20px; font-family:'Times New Roman', Times, serif;">
            <li class="nav-item">
              <a href="{% url "wine_list" %}" class="nav-link">Wines</a>
            </li>
            <li class="nav-item">
              <a href="{% url "add_wine" %}" class="nav-link">Add Wine</a>
            </li>
            <li class="nav-item">
              <a href="{% url "cellar" %}" class="nav-link" >Cellar</a>
            </li>
            <li class="nav-item">
              <a href="{% url "wine_filter" %}" class="nav-link" >Filter</a>
            </li>
            <li class="nav-item">
              <a href="{% url "rating" %}" class="nav-link" >Ratings</a>
            </li>
            <li class="nav-item">
              <a href="{% url "about" %}" class="nav-link" >About</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="#"onClick="document.getElementById('logoutform').submit()">Logout</a>
              {% endif %}
            </li>
              <form id="logoutform" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden">
              </form>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" name="submit" value="Search">Search</button>
            <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
          </form>
          <a class="navbar-brand" href="#"><img src={% static 'img/navbar_logo2.png' %} width="100" height="50" class="d-inline-block mr-auto" alt="Logo"></a>
        </div>
      </nav>
  </div>
    {% endblock %}
  <br>
  <div class="container" width="80%">
    {% block content %}
    {% endblock %}
  </div>
  </body>
  {% block footer %}
    <footer class="bg-dark h-30">
      <div class="container text-center">
        <span style="color:gold;font-weight:bold">Email: gabehiggins21@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; Phone: 07765183528</span>
      </div>
    </footer>
  {% endblock %}

</html>
